.r2languages-container {
  display: flex;
  flex-wrap: wrap;
}

.r2-laguage-heading {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.r2-proficiency-text {
  margin: 0;
  padding: 0;
  margin-right: 30px;
  font-weight: 100;
}

.r2-lan-input-elements {
  margin: 0;
  background-color: white !important;

  padding: 3px !important;
  border: 1px solid black !important;
  border-bottom: 0 !important;
  width: 157px;
}
.r2-lan-input-element-selector {
  border: 1px solid black;
  padding: 3px;
  width: 157px;
}

.lan-span-input {
  border: 0;
  outline: 0;
  width: 126px;
  font-size: 19px;
  font-weight: bold;
  /* background-color: #61dafb; */
  padding: 0;
  padding-top: 2px;
}
.lan-span-input2 {
  border: 0;
  outline: 0;
  font-size: 15px;
  width: 126px;
  /* background-color: #61dafb; */
  padding: 0;
}

.lan-input-container {
  margin: 6px;
}

.r2-lang-del-button {
  position: absolute;
  right: -1px;
  top: -1px;
  border-radius: 20%;
  border: 0;
  background-color: red;
}

.languages-box {
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  /* border: 1px solid black; */
  margin-right: 30px;
}

.languages-box:hover {
  border: 2px solid black;

  margin: 3.5px;
  margin-right: 28.5px;
}

.scroll-bar-options {
  width: 100px;
  height: 200px;
  background-color: aqua;
  position: fixed;
  right: 0;
  margin-right: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}

.total-inputs-cont {
  /* position: relative; */
  display: flex;
}
.input-delete-button {
  /* position: absolute;
  top: -1;
  right: -1px; */
  /* order: 2; */
  margin: 0;
}
