.r2-language-text {
  font-size: 18px;
  font-weight: 600;
  width: 168px;
  border: 0;
  outline: 0;
  padding: 2px;
}
.r2-language-text:focus {
  outline: none;
  background-color: rgb(238, 230, 230);
  border-radius: 3px;
}

.r2-proficiency-text {
  border: 0;
  outline: 0;
  width: 150px;
}

.lang-inputs-conatiner {
  border-radius: 20px;
  padding: 10px;
}

.lang-popup-cont {
  background-color: aqua;
  width: 60px;
  height: 150px;
  position: fixed;
  right: 1rem;
  top: 15rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
