.r2-college-project {
  border: 0;
  font-size: 20px;
  font-weight: bold;
}

.r2-created-details {
  border: 0;
  font-size: 20px;
}

.r2-added-details {
  border: 0;
  font-size: 20px;
}

.r2-pp-button-container {
  text-align: end;
}

.r2-pp-but-1 {
  margin-right: 10px;
  width: 25px;
}
