.image {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}

.r2add-button {
  margin-bottom: 20px;
  caret-color: transparent;
}
.span-box {
  min-width: 5000px;
  background-color: aqua;
  margin-top: 500px;
  padding: 100px;
}

.right-side-scroll-bar {
  background-color: aqua;
  width: 70px;
  min-height: 250px;
  position: fixed;
  right: 0;
  margin-right: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* .buttonn {
    border-radius: 50%;
  } */

.bg-cont {
  /* background-color: rgb(235, 238, 238); */
  width: 100%;
}

.button-container-CP {
  text-align: right;
}

.proj-input-container {
  /* background-color: antiquewhite; */
  width: 95%;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.app-input-container {
  /* background-color: antiquewhite; */
  width: 95%;
  /* border: 2px dashed; */
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px;
  list-style-type: circle;
}

/* .inp1 {
    border: 0;
    outline: none;
  } */

.add-button-containerCP {
  display: flex;
  margin: 0;
  padding: 0;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  justify-content: space-between;
  align-items: center;
}

.cp-popup-container {
  background-color: aqua;
  width: 60px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 10rem;
  right: 1rem;
  border-radius: 20px;
}

.pop-up-del-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
